{% extends 'base.html' %}

{% block title %}{{ batch.batch_name }}{% endblock %}
{% block body %}
{% load staticfiles %}
{% load app_filters %}
<h1>{{ batch.batch_name }} </h1>
<ul>
{% for observation in observations %}
    <li>
        <a href="{% url 'observation_detail' observation.id %}" class="list-group-item list-group-item-action">
            {{ observation.observation_name }}</a>
        </li>
{% endfor %}
</ul>
<p><a href="{% url 'downloadCSV' batch.id %}">Downlad batch CSV</a></p>
<p><a href="/batches/">Return to List of Batches</a></p>
{% endblock %}